@font-face {
    src: url("../Fonts/ProductSans-Light.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Medium.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Regular.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Black.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Bold.ttf");
}
.containerBox{
    -fx-border-color: #9580FF;
}
.bgImage{

}
.bgImage:hover{
    -fx-rotate: 3;
}
.detailsTitle{
    -fx-font-family: "Product Sans Light";
    -fx-font-size: 20px;
}
.price{
    -fx-font-family: "Product Sans Light";
    -fx-font-size: 15px;

}
.buyButton{
    -fx-font-family: "Product Sans Light";
    -fx-font-size: 15px;
}