@font-face {
    src: url("../Fonts/ProductSans-Light.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Medium.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Regular.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Black.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Bold.ttf");
}
.containerBox{
    -fx-border-color: linear-gradient(to bottom right, #18ABD1, #8968A3, #DD3982, #DE755C, #DEA63D);
}
.bgImage{

}
.bgImage:hover{
    -fx-rotate: 3;
}
.detailsTitle{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 25px;
    -fx-text-fill: linear-gradient(to bottom right, #18ABD1, #8968A3, #DD3982, #DE755C, #DEA63D);
}
.price{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 20px;

}
.buyButton{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 18px;

    /*-fx-background-color: linear-gradient(to bottom right, #18ABD1, #8968A3, #DD3982, #DE755C, #DEA63D);*/
}