@font-face {
    src: url("../Fonts/ProductSans-Light.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Medium.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Regular.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Black.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Bold.ttf");
}
/*.button{*/
/*    -fx-background-radius: 5px;*/
/*    -fx-font-family: "Product Sans Medium";*/
/*    -fx-font-size: 10;*/

/*}*/
/*.label{*/
/*    -fx-font-family: "Product Sans Medium";*/
/*}*/
/*.logo{*/
/*    -fx-font-family: "Product Sans Medium";*/
/*    -fx-font-size: 100px;*/
/*}*/