@font-face {
    src: url("../Fonts/ProductSans-Light.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Medium.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Regular.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Black.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Bold.ttf");
}
.topHeading{
    -fx-font-family: "Product Sans Black";
    -fx-font-size: 30;
}
.month{
    -fx-font-family: "Product Sans Light";
    -fx-font-size: 15px;
}
.date{
    -fx-font-family: "Product Sans Bold";
    -fx-font-size: 25px;
}
.day{
    -fx-font-family: "Product Sans Light";
    -fx-font-size: 15px;
}
.dateInfoBox{
    -fx-background-color: #758FF0;
    -fx-background-radius: 2px;
}