@font-face {
    src: url("../Fonts/ProductSans-Light.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Medium.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Regular.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Black.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Bold.ttf");
}
.topTitle{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 35px;
    -fx-text-fill: linear-gradient(to bottom right, #18ABD1, #8968A3, #DD3982, #DE755C, #DEA63D);
}
.tabOption{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 18px;
}