@font-face {
    src: url("../Fonts/ProductSans-Light.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Medium.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Regular.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Black.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Bold.ttf");
}
.date-box{
    -fx-font-family: "Product Sans Light";
    -fx-font-size: 14px;
}
.time-box{
    -fx-font-family: "Product Sans Light";
    -fx-font-size: 11px;
}
.task-title{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 30px;
    -fx-text-fill: #9580FF;
}
.tagBox{
    -fx-font-family: "Product Sans Medium";
    -fx-border-color:  #9580FF;
    -fx-border-radius: 5px;
    -fx-font-size: 12px;
}
.tagContainer{
    -fx-font-family: "Product Sans Medium";
}
.sessionTag{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 15px;
}
.createANewTask{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 30px;
    -fx-text-fill: #9580FF;
}
.createANewTaskDescription{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 20px;
}
.startLabel{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 55px;
    -fx-text-fill: #FFFFFF;
}
.startVBox{
    /*-fx-background-color: #EF6262;*/
}