@font-face {
    src: url("../Fonts/ProductSans-Light.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Medium.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Regular.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Black.ttf");
}
@font-face {
    src: url("../Fonts/ProductSans-Bold.ttf");
}

.root {
    -fx-focus-color: transparent;
}
.button {
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-font-size: 15px;
}

.mode-btn {
    -fx-background-color: none;
    -fx-border-width: 1px;
    -fx-border-color:transparent;
}

/*.highlight-btn {*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-color: #ffffff;*/
/*    -fx-border-style: dashed;*/
/*    -fx-border-radius: 2px;*/
/*}*/

.toggle-btn,
.save-btn {
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 12px;
    -fx-border-radius: 2px;
}

.toggle-btn:hover,
.save-btn:hover {
    -fx-opacity: 0.8;
}

.clock-progress-bar .track {
    -fx-background-color: transparent;
}

.clock-progress-bar .bar {
    /*-fx-background-color: #20C997;*/
    /*-fx-background-insets: 0;*/
    /*-fx-border-radius: 0;*/
    /*-fx-padding: 1;*/
}


.spinner .text-field {
    -fx-text-fill: #000000;
    -fx-alignment: center;
}
.description{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 15px;
}
.timerText{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 50px;
    -fx-text-fill: #9580FF;
}
.breakBoxButton{
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 12px;
}